<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Minotaur Grammar Tool</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grammar-editor">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> Grammar Editor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cognitive-graph-editor">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> Cognitive Graph Editor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="step-parser">
                <span class="bi bi-cpu-fill-nav-menu" aria-hidden="true"></span> StepParser Integration
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plugin-manager">
                <span class="bi bi-plugin-nav-menu" aria-hidden="true"></span> Plugin Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="project-manager">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Project Manager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="symbolic-analyzer">
                <span class="bi bi-graph-up-arrow-nav-menu" aria-hidden="true"></span> Symbolic Analyzer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="graph-unparser">
                <span class="bi bi-code-slash-nav-menu" aria-hidden="true"></span> Graph Unparser
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

